* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background: radial-gradient(#fff, #ffd6d6);
}
.header .row {
  margin-top: 70px;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul {
  display: inline-block;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: #555;
}
p {
  color: #555;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}
.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.btn {
  display: inline-block;
  background-color: rgb(240, 10, 10);
  color: white;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
  cursor: pointer;
}
.btn:hover {
  background-color: #563434;
}
.categories {
  margin: 70px 0;
}
.col-3 {
  flex-basis: 30%;
  max-width: 250px;
  margin-bottom: 30px;
}
.col-3 img {
  width: 100%;
}
.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.col-4 img {
  width: 100%;
}
.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}
.title::after {
  content: "";
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
h4 {
  color: #555;
  font-weight: normal;
}
.col-4 p {
  font-size: 14px;
}
.rating .fa {
  color: #ff523b;
}
.col-4:hover {
  transform: translateY(-5px);
}
.menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none;
}

.section-header {
  font-family: "Metal Mania";
  font-weight: normal;
  color: #333;
  text-align: center;
  font-size: 2.5em;
}

.content-section {
  margin: 1em;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em;
}

/********** cashAccount details ***********/

.payment {
  background: radial-gradient(white, pink);
  border: 2px solid #ff523b;
  max-width: 450px;
  margin: 80px auto;
  height: auto;
  padding: 35px;
  padding-top: 50px;
  border-radius: 5px;
  position: relative;
}
.payment h2 {
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 20px;
  color: #0d3c64;
}
.form .label {
  display: block;
  color: #555;
  margin-bottom: 6px;
}
.form .input {
  padding: 13px 0 13px 25px;
  width: 100%;
  text-align: center;
  border: 2px solid #ddd;
  border-radius: 5px;
  letter-spacing: 1px;
  word-wrap: 3px;
  outline: none;
  font-size: 16px;
  color: #555;
}

.card-grp {
  display: flex;
  justify-content: space-between;
}

.card-item {
  width: 48%;
}
.space {
  margin-bottom: 20px;
}
.icon-relative {
  position: relative;
}
.icon-relative .fas,
.icon-relative .far {
  position: absolute;
  bottom: 12px;
  left: 15px;
  font-size: 20px;
  color: #555;
}
i.fas.fa-lock {
  position: absolute;
  bottom: 20px;
  left: 15px;
  font-size: 20px;
  color: #555;
}
.icon-relative .fal {
  position: relative;
  bottom: 35px;
  text-align: center;
  left: 15px;
  font-size: 20px;
  color: #555;
}

.account-btn {
  margin-top: 40px;
  background-color: #ff523b;
  border: 1px solid white;
  padding: 12px;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.account-btn button {
  border: none;
  background-color: #ff523b;
  color: white;
  font-size: 1rem;
}
.payment-logo {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  background-color: #f8f8f8;
  border-radius: 50%;
  box-shadow: 0 0 5px;
  text-align: center;
  line-height: 100px;
}
.payment-logo::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 90px;
  height: 90px;
  background-color: #ff523b;
  border-radius: 50%;
}
.payment-logo p {
  color: #f8f8f8;
  position: relative;
  font-size: 58px;
}
@media only screen and (max-width: 800px) {
  nav ul {
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #333;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  nav ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a {
    color: #fff;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
  }
}

.row-2 {
  justify-content: space-between;
  margin: 100px auto 50px;
}

select {
  border: 1px solid #ff523b;
  padding: 5px;
}
select:focus {
  outline: none;
}
.page-btn {
  margin: 0 auto 80px;
}
.page-btn span {
  display: inline-block;
  border: 1px solid #ff523b;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.page-btn span:hover {
  background: #ff523b;
  color: #fff;
}
.single-Product {
  margin-top: 60px;
}
.single-Product .col-2 img {
  padding: 0;
}
.single-Product .col-2 {
  padding: 20px;
}
.single-Product h4 {
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}
.single-Product select {
  display: block;
  padding: 10px;
  margin-top: 20px;
}
.single-Product input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid #ff523b;
}
input:focus {
  outline: none;
}
.single-Product .fa {
  color: #ff523b;
  margin-left: 10px;
}
.small-img-row {
  display: flex;
  justify-content: space-between;
}
.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}
.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-item {
  width: 45%;
}
.cart-quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-item-title {
  color: #333;
  margin-left: 0.5em;
  font-size: 1.2em;
  margin-right: 100px;
}
.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}
.cart-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.remove {
  color: white;
  background-color: #eb5757;
  border: none;
  border-radius: 0.3em;
  font-weight: bold;
  padding: 8px;
}
.remove:hover {
  background-color: #ff523b;
}
/* .cart-row.remove {
  float: right;
} */
.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333;
}
.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56ccf2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}
.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}
.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-total-price {
  color: #333;
  font-size: 1.2em;
  padding-left: 52px;
}
.content-section {
  margin: 1em;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em;
}
.section-header {
  font-family: "Metal Mania";
  font-weight: normal;
  color: #333;
  text-align: center;
  font-size: 2.5em;
}

.btn-header {
  margin: 0.5em 15% 2em 15%;
  color: white;
  border: 2px solid #2d9cdb;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0;
  font-size: 1.5em;
  font-weight: lighter;
  padding-left: 2em;
  padding-right: 2em;
}

.btn-header:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.btn-play {
  display: block;
  margin: 0 auto;
  color: #2d9cdb;
  font-size: 4em;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 0;
  text-align: center;
}

.btn-primary {
  color: white;
  border: none;
  border-radius: 0.3em;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #2d9cdb;
}
.shop-item {
  margin: 30px;
}

.shop-item-title {
  /* display: block; */
  width: 100%;
  font-weight: bold;
  font-size: 1.2em;
  color: #333;
}

.shop-item-image {
  height: 80px;
  display: block;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.shop-item-details {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.shop-item-price {
  padding-top: 0;
  flex-grow: 1;
  color: #333;
}

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.75em;
}
.shop-items {
  /* flex-wrap: wrap; */
  justify-content: space-around;
}
@media only screen and (max-width: 600px) {
  .row {
    text-align: center;
  }
  .col-2,
  .col-3,
  .col-4 {
    flex-basis: 100%;
  }
  .single-Product .row {
    text-align: left;
  }
  .single-Product .col-2 {
    padding: 20px 0;
  }
  .single-Product h1 {
    font-size: 26px;
    line-height: 32px;
  }
  .cart-info p {
    display: none;
  }
  .card-grp {
    flex-direction: column;
  }
  .card-item {
    width: 100%;
    margin-bottom: 20px;
  }
  .btn {
    margin-bottom: 20px;
  }
}
